.product-block p {
  margin-top: 0;
  margin-bottom: 0;
}
 
.product-block h4 {
  margin-bottom: 10px;
}

.product-block {
  padding: 30px 0;
  text-align: center;
  color: black;
  height: 200px;
  background-color: #fff;
  border-radius: 2px;
}
