<h2>Products</h2>
<mat-nav-list class="product-list" *ngIf="products.length; else noProducts">
  <app-product-card 
        *ngFor="let product of products"
        [product]="product"
        (pushProduct)="onPushProduct($event)">
  </app-product-card>
</mat-nav-list>
<h2>Cart</h2>
<mat-nav-list class="product-list" *ngIf="cartProducts.length; else noProductsInCart">
  <app-product-card 
        *ngFor="let product of cartProducts" 
        [product]="product">
  </app-product-card>
</mat-nav-list>

<ng-template #noProducts>There are NO products in our store yet...</ng-template>
<ng-template #noProductsInCart>There are NO products in your cart yet...</ng-template>
