<mat-card appProductCard class="product-card">
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
  </mat-card-header>
  <img src="https://via.placeholder.com/250" alt="" mat-card-image>
  <mat-card-content>{{ product.price }} USD</mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Primary</button>
    <button [disabled]="isQtyDecreaseDisabled" (click)="onChangeQuantity('-')" mat-icon-button aria-label="Example icon-button with a heart icon">-</button>
    <span>{{ quantity }}</span>
    <button (click)="onChangeQuantity('+')" mat-icon-button aria-label="Example icon-button with a heart icon">+</button>
  </mat-card-actions>
</mat-card>