<mat-card appMaterialElevation class="card">
  <mat-card-header class="card-header">
    <mat-card-title>{{ card.name }}</mat-card-title>
    <mat-card-subtitle>{{ card.title }}</mat-card-subtitle>
    <div class="card-header__price">
      {{ price | currency }}
    </div>
  </mat-card-header>
  <mat-card-content [ngStyle]="imgStyle" class="card-content">
    <p>
      {{ card.blurb }}
    </p>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <button mat-raised-button color="primary" (click)="increment($event)">
      Add
    </button>
    <button mat-raised-button color="accent" (click)="decrement($event)">
      Delete
    </button>
    <p class="card-actions__counter">
      {{ counter }}
    </p>
  </mat-card-actions>
</mat-card>
