@import "../../variables.scss";
.riotbar-footer-links {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  justify-content: center;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  background-color: $riot-background;

  ul {
    display: flex;
    padding: 10px 20px;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
  }

  ul a {
    color: $text-color;
  }
}
