<div class="riotbar-footer-links">
  <ul>
    <li>
      <a class="link-aboutLeague" href="#">
        About League Of Legends
      </a>
    </li>

    <li>
      <a class="link-prepaidCards" href="#">
        Prepaid Cards
      </a>
    </li>

    <li>
      <a class="link-helpUsImprove" href="#">
        Help Us Improve
      </a>
    </li>

    <li>
      <a class="link-serverStatus" href="#">
        Service Status
      </a>
    </li>

    <li>
      <a class="link-support" href="#">
        Support
      </a>
    </li>

    <li>
      <a class="link-lolEsports" href="#">
        Esports Pro Site
      </a>
    </li>
  </ul>
</div>
