@import "../../variables.scss";
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: $riot-background;

  &-list {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-evenly;
  }

  &-link {
    color: $text-color;
  }
}
